<MudExpansionPanels MultiExpansion="true" Dense="true">
    <MudExpansionPanel Text="Panel One" IsExpanded="true">
        <TitleContent>
            <MudText Typo="Typo.h6" Color="Color.Warning">What are Biorhythms?</MudText>
        </TitleContent>
        <ChildContent>
            Everyone has experienced days when everything seems to go right,
            and other days when you wondered if you wouldn’t have been better off if you stayed in bed.
            These ups and downs hat are seemingly unexplainable, have become known as biorhythms.
            In theory, biorhythmic patterns explain the ebb and flow of our physical, emotional, and intellectual
            body cycles. Based upon scientific research, the theory states that three cycles of 23, 28, and 33 days,
            run concurrently from birth. The first half of each cycle is full of strength while the second half is a
            period of weakness and recharging.
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Panel One" IsExpanded="true">
        <TitleContent>
            <MudText Typo="Typo.h6" Color="Color.Warning">What is fun to do with Biorhythms?</MudText>
        </TitleContent>
        <ChildContent>
            <MudSimpleTable>
                <tr>
                    <td>Know your day</td>
                    <td>Use Biorhythms to understand your Physical, Emotional, and Intellectual disposition. Know which cycles are in the positive period and which are negative. Be careful on critical days. Be extra cautious when multiple cycles are critical on the same day.</td>
                </tr>
                <tr>
                    <td>Explain past events</td>
                    <td>Look at your Biorhythm cycles on past notable events—do the cycles coincide with what happened? Did you get in an accident one day? Was it on a critical day? Not do so well on a test? Was it during an intellectual low? Do well in a race? Were you within your Physical positive period?</td>
                </tr>
                <tr>
                    <td>Predict the birthdate of a baby</td>
                    <td>That’s right! Evidence indicates that babies are born on their mother’s critical day. So, know of a pregnant woman? Ask her for her birthday and her expected arrival date. Then, chart her Biorhythm for that month and note the critical days (with emphasis on multiple-critical days, when more than one cycle crosses on or near the same day.) Those critical days are good predictions for the baby’s natural birthdate! Don’t believe it? Try it with your mother’s birthday and you’re birth month… was your birthday a critical day for your mother?</td>
                </tr>
                <tr>
                    <td>Predict the gender of a baby</td>
                    <td>Huh? Wait a minute… doesn’t the father determine the gender!? Well yeah… but scientists say that the mother’s body chemistry can help accept one chromosome over the other! So, know of a pregnant woman? Ask her for her birthday and her date of conception. Then, chart her Biorhythm for that month and note the physical and emotional cycles. A male occurs when the Physical cycle is high, and Emotional is low; and a female with the opposite—when the Physical cycle is low, and Emotional is high. Don’t believe it? Try it with your mother’s birthday and 280 days prior to your birthday… did Biorhythms predict your gender?</td>
                </tr>
                <tr>
                    <td>Compute compatibility</td>
                    <td>You can compare the Biorhythms between two people and see how in-sync they are. Are they both Physically in the positive at the same time? How about Emotionally?</td>
                </tr>
                <tr>
                    <td>Know your team</td>
                    <td>Some companies have successfully used Biorhythms to improve productivity and increase safety, by analyzing the entire team. You can apply the same for athletic teams as well—perhaps choose the players whose Physical cycles are in the positive period when physical strength, endurance, stamina are highest.</td>
                </tr>
            </MudSimpleTable>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Panel One" IsExpanded="true">
        <TitleContent>
            <MudText Typo="Typo.h6" Color="Color.Warning">What is the Physical Cycle?</MudText>
        </TitleContent>
        <ChildContent>
            The Physical 23-day cycle governs people’s motor activities.
            The first half of this cycle are the ascending period, when a person feels vigorous, eager to get going,
            and when physical work seems easiest. Athletes usually perform best during this period.
            The second half of the cycle is considered to be the recharging period, when a person tires more easily
            and seems to lack the energy to get moving.
            <MudSimpleTable Class="mt-4">
                <tr>
                    <td>Scope</td>
                    <td>Physical strength, stamina, endurance, durability, resisting power, self-confidence, courage.</td>
                </tr>
                <tr>
                    <td>Positive period</td>
                    <td>Full of stamina—vigorous, eager, athletic competition, travel, surgical operations, work that requires physical strength.</td>
                </tr>
                <tr>
                    <td>Negative period</td>
                    <td>Lacking in stamina—easy to get tired, infectious to disease, best for rest and medicine.</td>
                </tr>
                <tr>
                    <td>Critical days</td>
                    <td>Unstable in physical condition—recharge, lethargy, tiresome, headache, fever, stroke, worsening of disease, sickness, outbreak of accidents.</td>
                </tr>
            </MudSimpleTable>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Panel One" IsExpanded="true">
        <TitleContent>
            <MudText Typo="Typo.h6" Color="Color.Warning">What is the Emotional Cycle?</MudText>
        </TitleContent>
        <ChildContent>
            This 28-day cycle governs sensitivity, nerves, feelings, moodiness, and intuition.
            The first half of the cycle is the positive period where a person tends to be optimistic and good-natured.
            The second half is the Negative, or recharging period, when a person may be irritable and uncooperative.
            <MudSimpleTable Class="mt-4">
                <tr>
                    <td>Scope</td>
                    <td>Sentiment, cooperation, emotion, cheerfulness, art, creative power, moral energy, intuition.</td>
                </tr>
                <tr>
                    <td>Positive period</td>
                    <td>Full of energy—optimistic, good-natured, performance, courting, dating, teamwork.</td>
                </tr>
                <tr>
                    <td>Negative period</td>
                    <td>Lacking in energy—be sensitive to personal relations, humdrum, pessimism.</td>
                </tr>
                <tr>
                    <td>Critical days</td>
                    <td>Unstable in emotion—slip of the tongue, quarrel, dispute.</td>
                </tr>
            </MudSimpleTable>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Panel One" IsExpanded="true">
        <TitleContent>
            <MudText Typo="Typo.h6" Color="Color.Warning">What is the Intellectual Cycle?</MudText>
        </TitleContent>
        <ChildContent>
            This 33-day cycle represents intelligence, memory, mental alertness, logic, ambition, etc.
            The first half of the cycle is best for digesting new subjects and for creative thinking.
            Like the Physical may be more important for athletes, the Intellectual cycle is probably best for students,
            writers, artists, scholars, and other creative thinkers. The second half of the cycle is when it is better
            to review or practice than try to tackle new subjects.
            <MudSimpleTable Class="mt-4">
                <tr>
                    <td>Scope</td>
                    <td>Thinking power, understanding, adaptability, logicality, wit, judgment, concentration.</td>
                </tr>
                <tr>
                    <td>Positive period</td>
                    <td>Excellent in thinking power—study of weak subjects, making a plan, examination, decision.</td>
                </tr>
                <tr>
                    <td>Negative period</td>
                    <td>Lacking in thinking power—gathering data, study, repetition, research.</td>
                </tr>
                <tr>
                    <td>Critical days</td>
                    <td>Unstable in intellectual power—failure of memory, mistake, error, lower ability and attentiveness, lack of focus, outbreak of accidents.</td>
                </tr>
            </MudSimpleTable>
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Panel One" IsExpanded="true">
        <TitleContent>
            <MudText Typo="Typo.h6" Color="Color.Warning">What are Critical Days?</MudText>
        </TitleContent>
        <ChildContent>
            Critical days occur when a cycle transitions from positive to negative, or vice versa.
            The critical days are not, in themselves, dangerous. Rather, they are days during which an
            individual’s reaction to their environment may bring about a critical situation.
            Critical days are switch-point days when individuals tend to exhibit a degree of instability.
            People should be very careful on their critical days, and when two or more cycles occur on
            the same day, a person should be extra cautious.
        </ChildContent>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Panel One" IsExpanded="true">
        <TitleContent>
            <MudText Typo="Typo.h6" Color="Color.Warning">When was this last built?</MudText>
        </TitleContent>
        <ChildContent>
            This is version @Version
        </ChildContent>
    </MudExpansionPanel>
</MudExpansionPanels>

@code {
    string version;
    string Version
    {
        get
        {
            if (version == null)
            {
                var build = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
                var buildDate = new DateTime(2000, 1, 1).AddDays(build.Build).AddSeconds(build.Revision * 2);
                version = $"{build}, built on {buildDate:ddd MM-dd-yyyy hh\\:mm tt}";
            }
            return version;
        }
    }
}