<div>@Name</div>
<div style="display: inline-block; white-space: nowrap; overflow-x: scroll; overflow-y: hidden; width: 100%;">
    <ChartBuilder Birthdate="@Birthdate" Startdate="@Startdate" Enddate="@Enddate" Height="200"></ChartBuilder>
</div>
@code
{
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public DateTime Birthdate { get; set; }

    [Parameter]
    public DateTime Chartdate { get; set; }

    [Parameter]
    public DateTime Startdate { get; set; }

    [Parameter]
    public DateTime Enddate { get; set; }
}