@using System.IO
@using Newtonsoft.Json

<MatAccordion Multi="true">
    @foreach (var item in FAQData.FAQData)
    {
        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>@item.question</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                @foreach (var p in item.answers)
                {
                    <p>@p</p>
                }
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    }
</MatAccordion>

@code
{
    private faqobj FAQData { get; set; }

    protected override void OnInitialized()
    {
        if (FAQData == null)
        {
            // deserialize JSON directly from a file
            using var file = File.OpenText(@"faq-data.json");
            using var jr = new JsonTextReader(file);
            var serializer = new JsonSerializer();
            FAQData = serializer.Deserialize<faqobj>(jr);
        }
    }

    public class faqobj
    {
        [JsonProperty(PropertyName = "faqdata")]
        public List<faqitem> FAQData { get; set; }
    }

    public class faqitem
    {
        [JsonProperty(PropertyName = "q")]
        public string question { get; set; }
        [JsonProperty(PropertyName = "a")]
        public List<string> answers { get; set; }
    }
}